.logo-container {
  display: flex;
  gap: 1.2rem;
  height: 80%;
  align-items: center;
  img {
    height: 80%;
  }
}
.footer-logo-container {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  gap: 0.8rem;
  height: 8rem;
  align-items: center;
  padding-top: 2rem;
  img {
    height: 50%;
  }
}
