.btn-ln {
  width: 9.6rem;
  height: 4rem;
  background-color: #20273d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  color: var(--white);
  cursor: pointer;
  border-radius: 0.2rem;
}
