.nav-bar {
  display: flex;
  top: 6.6rem;
  padding: 1.6rem 0;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 31.25em) {
    justify-content: space-evenly;
  }
}
