:root {
  --text-color: #231f20;
  --black: #1c1917;
  --gray: #a4a3a3;
  --secondary-gray: #eeeeee;
  --primary: #400a05;
  --secondary: #22d3ee;
  --white: #ffffff;
  --success: #4ade80;
  --denied: #ef4444;
  --pending: #e9b10a;
  --wheel-secondary: #f5f5f5;
  --inset: #450a0a;
  --wheel-primary: #991b1b;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width: 37.5em) {
    font-size: 50%;
  }
}

body {
  font-family: "Arial", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  //color: var(--text-color);
  line-height: 1.1;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  &:active {
    position: relative;
    top: 1px;
  }
}

.bar {
  position: absolute;
  width: 95%;
  height: 7.2rem;
}

.rounded-img {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  overflow: hidden;
}

.grid {
  display: grid;
  gap: 0.6rem;
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-pos-2 {
  grid-column: 2;
}
.grid-pos-3 {
  grid-column: 3;
}
.grid-pos-4 {
  grid-column: 4;
}
